html {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.siteinteiro {
    display: block;
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
}

.siteinteiro::after {
    content: "";
    opacity: 0.08;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-image: url("../images/bg.jpg");
    background-size: cover;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.cabecalho {
    height: 44px;
    background-color: #111111;
    color: white;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 10px 0 4px 0;
}

.menuzin {
    padding: 0px 0;
    float: right;
    width: auto;
    height: 30px;
    top: 0;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    box-sizing: border-box;
}

#logo {
    padding-left: 20px;
    font-weight: bold;
}

.menuzin:hover {
    color: white;
    cursor: pointer;
}

.icone_menu {
    color: white;
    color: inherit;
    float: left;
}

#menu {
    float: right;
    padding: 3px 0;
}

#menu a {
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    color: inherit
}

#menu a:hover {
    color: inherit;
}

.cabecalho div:first-child {
    float: left;
    width: auto;
}

figure {
    min-width: 600px;
    margin: 0;
}

video {
    width: 100%;
    height: 100%;
    z-index: 99;
}

.topo-pagina {
    position: relative;
    background-image: url(../images/banner.mp4);
}

.topo-pagina-cabecalho {
    text-align: center;
    font-weight: normal;
    z-index: 90;
}

.topo-pagina-cabecalho h1 {
    padding: 2.2em 0 0 0;
    text-transform: uppercase;
    font-size: 1.6em;
}

.topo-pagina p {
    display: block;
    width: 75%;
    margin: 0 auto;
    font-size: 1.400em;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.3em;
}

.topo-pagina p>a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

.topo-pagina p>a:hover {
    color: white;
}

.topo-pagina:after {
    background: linear-gradient(135deg, #ce1b28 0%, #111111 74%);
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.topo-pagina-cabecalho {
    position: absolute;
    color: white;
}